@model AYPatients.Models.DispensingUnit

@{
    ViewData["Title"] = "Details a dispensing unit on file";
}

<h1>Dispensing Unit Details</h1>

<div>
    <h4>Dispensing Unit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DispensingCode) <!--column name-->
        </dt>
        <dd class="col-sm-10" style="padding-left:60px">
            @Html.DisplayFor(model => model.DispensingCode) <!--column contents-->
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DispensingCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
